<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Formación superior</h1> - <h3>(2010-2017)</h3>
            </li>
            <p>Profesorado de Lengua y Literatura</p>
        </ul>
        <ul>
            <li>
                <h1>Capacitaciones</h1> - <h3>(2021-actualidad)</h3>
                <ul>
                    <li>
                        Argentina Programa - Etapas 1 y 2 (2021)
                    </li>
                    <li>
                        Coursera - Capacitación para soporte de TI (2022)
                    </li>
                    <li>
                        MindHub - Testing QA (2023)
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>