<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Testing de apps y páginas web</h2>
            <p>Trabajo en conjunto con compañeros del área de desarrollo y testing para verificar la funcionalidad de las páginas web elegidas, implementando la plataforma Jira.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/testing.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>