<div class="row">
    <circle-progress
        [percent]="65"
        [radius]="60"
        [imageSrc]="'../../../assets/html.png'"
        [showImage]="true"
        [imageHeight]="69"
        [imageWidth]="69"
        [showUnits]=false
        [showSubtitle]=false
        [outerStrokeWidth]="10"
        [outerStrokeGradient]=true
        [outerStrokeGradientStopColor]="'#53a9ff'"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#4882c2'"
        [innerStrokeColor]="'#e7e8ea'"
        [animation]="true"
        [animationDuration]="420"
    ></circle-progress>
</div>