<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profile.jpg" class="img-fluid" id="foto-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr</p>
        <p>Tester QA Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Soy docente, tester QA jr. y desarrolladora en formación. Siempre me encuentro en busca de adquirir nuevos conocimientos y habilidades de forma autodidacta, como también busco mejorar y desarrollarme cada día más como profesional y como persona.</p>
        </span>
    </div>
</div>