<div class="row">
    <h1>Experiencia laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Docencia - Nivel secundario</h1> - <h3>(2019-actualidad)</h3>
            </li>
            <p>Trabajo realizado en distintas instituciones educativas, destacando el manejo de grupo, trabajo en equipo, gestión del tiempo y de recursos, planificación y dominio sobre plataformas de gestión de archivos (Google Workspace).</p>
        </ul>
        <ul>
            <li>
                <h1>Administración de empresas - FC4x4</h1> - <h3>(2022-actualidad)</h3>
            </li>
            <p>Manejo y gestión de pagos y cuentas, seguimiento de pedidos, además de brindar mantenimiento y soporte tecnológico a los equipos (celulares, tablets y computadoras).</p>
        </ul>
        <ul>
            <li>
                <h1>Proyecto: "testing y desarrollo autónomo"</h1> - <h3>(actualidad)</h3>
            </li>
            <p>Trabajo en conjunto con compañeros del área de desarrollo y testing para ejercitar nuestras habilidades y ganar experiencia en dichas áreas.</p>
        </ul>
    </div>
</div>